<h1> Answer your question </h1>

<%= form_for :question, url: question_path(@question), method: :patch do |f| %>
    <label>From:</label> 
    <p class="challenge_owner">
        <%= @question.owner.name %>
    </p>

    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title, :class => "form_title" %>
    </p>

    <p>
        <%= f.label :content %><br>
        <%= f.text_area :content, :class => "form_content"  %>
    </p>

    <% @question.answers.each do |answer| %>
        <p>
            <%= radio_button_tag("correct", answer.id, answer.correct) %>
            <%= label_tag(:answer, answer.answer) %>
        </p>
    <% end %>
    <p>
        <%= f.submit 'Submit'%>
    </p>
<% end %>