<h1>Listing questions</h1>
 
<%= form_for :question, method: :get do |f| %>
    <div class="input-append">
      <%= f.autocomplete_field :title, autocomplete_question_title_questions_path, placeholder: "Search Question" %>
      <button class="btn" type="submit">Search</button>
    </div>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>To</th>
    <th>Status</th>
  </tr>
 
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= link_to "#{question.content}", question %></td>
      <td><%= question.answerer.name %></td>
      <% if not question.submitted %>
        <td><%= link_to 'Answer', edit_question_path(question) %></td>
      <% else %>
        <td> Submitted </td>
      <% end %>
      <td><%= link_to 'Delete', question_path(question),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>