<h1> Create a new question </h1>

<% if @question.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited
          this question from being saved:</h2>
        <ul>
            <% @question.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= nested_form_for @question do |f| %>
  <p>
    <%= f.label :to %><br>
    <%= autocomplete_field_tag 'user_name', '', '/users/autocomplete_user_name', :size => 75, :placeholder => "Search User" %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form_title" %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => "form_content" %>
  </p>

  <h3> Answers: </h3>
  <%= f.fields_for :answers do |answer| %>
    <p>
        <%= answer.text_area :answer, :class => "form_answer" %>
        <%= answer.link_to_remove "Remove" %>
    </p>
  <% end %>
  <p><%= f.link_to_add "Add", :answers %></p>

  <p>
    <%= f.submit 'Create question', :class => 'btn' %>
  </p>
<% end %>