<p>
    <strong>From:</strong>
    <%= @question.owner.name %>
</p>
<p>
    <strong>To:</strong>
    <%= @question.answerer.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<% if @question.owner == @user %>
    <% @question.answers.each do |answer| %>
      <p>
        <% if answer.id == @question.selectedAnswer_id %>
            <img src="/images/selectedChoice.png">
        <% else %>
            <img src="/images/unselectedchoice.png">
        <% end %>
        <% if answer.correct %>
            <%= label_tag(:answer, answer.answer, :class => "correct_answer") %>
        <% else %>
            <%= label_tag(:answer, answer.answer) %>
        <% end %>
      </p>
    <% end %>
<% else %>
    <% if @question.answerer == @user %>
        <% @question.answers.each do |answer| %>
          <p>
            <% if answer.id == @question.selectedAnswer_id %>
                <img src="/images/selectedChoice.png">
                <% if not answer.correct %>
                    <%= label_tag(:answer, answer.answer, :class => "wrong_answer") %>
                <% else %>
                    <%= label_tag(:answer, answer.answer, :class => "correct_answer") %>
                <% end %>
            <% else %>
                <img src="/images/unselectedchoice.png">
                <%= label_tag(:answer, answer.answer) %>
            <% end %>
          </p>
        <% end %>
    <% else %>
        <%= button_to "Challenge this", { action: "create", id: @question.id, controller: "challenges" },
                                method: :post %>

    <% end %>
<% end %>