<h1>Welcome to AskMe</h1>
<% if current_user %>
    <p> You can try to <%= link_to "add friends", friendship_path(current_user) %> and ask them some questions about you or you can try to answer their questions.</p>
    <p> Enjoy!! :D</p>
<% else %>
    <p> Please login to use the app </p>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", :class => "login_btn" %>
<% end %>

