<img id="separator" src="/images/separator.png">

<% @questions.each do |question| %>
    <aside id="activity_description">
        <% if not question.selectedAnswer_id.blank? %>
            <div>
                <%= question.answerer.name %> has answered the question about "
                <%= link_to "#{question.title}", question_path(question) %>
                " from <%= question.owner.name %>
            </div>
        <% else %>
            <div>
                <%= question.owner.name %> has sent a question about "
                <%= link_to "#{question.title}", question_path(question) %>
                " to <%= question.answerer.name %> 
            </div>
        <% end %>
    </aside>

    <aside id="aside_right">
        <label class="datetime"><%= question.updated_at %></label>
    </aside>
    <img id="separator" src="/images/separator.png">
<% end %>