<h1> Friends </h1>

<h2> All friends </h2>
<ul>
    <% for user in @users %>
    <li>
        <%=h user.name %>
        <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
    </li>
    <% end %>
</ul>


<h2> Your friends </h2>
<ul>
    <% for friendship in @user.friendships %>
        <% if friendship.status == 'accepted' %>
            <li>
                <%=h friendship.friend.name %>
                (<%= link_to "remove", friendship, :method => :delete %>)
            </li>
        <% end %>
    <% end %>
    <% for friendship in @user.inverse_friendships %>
        <% if friendship.status == 'accepted' %>
            <li>
                <%=h friendship.user.name %>
                (<%= link_to "remove", friendship, :method => :delete %>)
            </li>
        <% end %>
    <% end %>
</ul>

<h2>Pending request</h2>
<ul>
  <% for user in @user.pending_friends %>
    <li><%=h user.name %></li>
  <% end %>
</ul>

<h2>Requested friends</h2>
<ul>
  <% for user in @user.requested_friends %>
    <li>
        <%=h user.name %>
        <%= link_to '[Accept]', friendship_path(:id => user), :method => :put, :confirm => 'Accept friend request! Are you sure?' %> |
        <%= link_to '[Reject]', friendship_path(:id => user), :method => :delete, :confirm => 'Reject friend request! Are you sure?' %>
    </li>
  <% end %>
</ul>
