<h1>Your challenges</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th> From </th>
  </tr>
 
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <% if not question.selectedAnswer_id %>
            <td><%= link_to "#{question.content}", edit_challenge_path(question) %></td>
      <% else %>
            <td><%= link_to "#{question.content}", question %></td>      
      <% end %>
      <td><%= question.owner.name %></td>
      <% if not question.selectedAnswer_id %>
            <td></td>
      <% else %>
            <% if @status[question.id] == 'Fail' %>
                <td class="challenge_fail"> <%= @status[question.id] %> </td>
            <% else %>
                <td class="challenge_success"> <%= @status[question.id] %> </td>
            <% end %>
      <% end %>
    </tr>
  <% end %>
</table>