// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.correct_answer{
    color: green;
    font-weight: bold;
}

.wrong_answer{
    color: red;
    font-weight: bold;
}