/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */


body
{    
    background-image:url('/images/Eiffel.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    margin-left:auto;
	margin-right:auto;
    min-width:1000px;
    max-width:1000px;
	color: white;
	overflow-x: hidden;
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;
}

.main_middle a:link
{
    color: rgb(0, 102, 255);
}

.main_middle a:visited
{
    color: rgb(0, 102, 255);
}

section
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border:1.5px solid;
    border-radius:5px;
    border-color:black;
    padding:1.5% 10% 1.5% 10%;
    overflow: hidden;
    width:80%;
}

.login
{
    float:right;
}

.extendfull
{
	padding-left: 2600px;
	margin-left: -3000px;
    padding-right: 2600px;
	margin-right: -3000px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
}

header a
{
    text-align:center;
    padding:15px 45px 15px 40px;
    font-size:1.2em;
    font-family: 'Jura', sans-serif;
    text-decoration:none;
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color:white;
    outline-style:none;
    transition: background-color 0.5s;
}

header a:hover
{
    background-color:rgba(255,255,255,0.5);
}

#error_explanation
{
    color: red;
}

.btn
{
    outline-style:none;
    background-color:rgb(51, 153, 255);
    border: 0px solid rgb(255, 255, 255);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
    font-size:1em;
    font-family: 'Jura', sans-serif;
    color:#FFFFFF;
    padding:7px 5px 7px 5px;
    transition: background-color 0.5s;
    margin-left:5px;
    text-decoration:none;
}

.btn:hover
{
    background-color: rgb(153, 204, 255);
    outline-style:none;
}

.login_btn{
    color: black;
    text-decoration:none;
}

input
{
    font-size:1em;
    padding:7px 5px 7px 5px;
    width: 600px;
}