// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.challenge_fail
{
    color: red;
    font-weight: bold;
}

.challenge_success
{
    color: green;
    font-weight: bold;
}

.challenge_owner
{
    font-weight: bold;
}