// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label {
    font-family: 'Jura',sans-serif;
    font-size: 1em;
    font-style: italic;
}

.form_title{
    width: 600px;
}

.form_content{
    width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	#background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;  
    resize: none;
}

.form_answer{
    width: 600px;
	height: 50px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;  
    resize: none;
}