// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.datetime {
    font-family: 'Jura',sans-serif;
    font-size: 0.7em;
    font-style: italic;
    margin-top: -15px;
}


#aside_right {
    float: right;
}

#aside_left {
    
}


#activity_description {
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;
    max-width: 600px;
    text-align: justify;
}